# Python 3.11 버전 사용

# FastAPI
fastapi==0.133.1
uvicorn[standard]==0.41.0
python-multipart==0.0.22

# Database
SQLAlchemy==2.0.47
PyMySQL==1.1.2
cryptography==46.0.5
chromadb==1.5.1

# Authentication
python-jose[cryptography]==3.5.0
bcrypt==5.0.0

# Validation
pydantic==2.12.5
pydantic-settings==2.13.1
email-validator==2.3.0

# ML/AI (HuggingFace API 사용)
huggingface_hub==1.5.0
openai==2.24.0

# AWS
boto3==1.42.59

# Utils
python-dotenv==1.2.1
httpx==0.28.1
loguru==0.7.3
